* {
    box-sizing: border-box;
}

html {
    padding: 0 20px;
}

body {
    color: $text-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    margin: 0 auto;
    max-width: 100%;
    width: $site-width;

    @include respond-to('palm') {
        font-size: $base-font-size-sm;
    }
}

a {
    color: $red;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        color: $red;
        text-decoration: underline;
    }
}

img {
    max-width: 100%;
}

p {
    margin: 0 0 20px;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 30px;
}

h1,
h2,
h3 {
    font-weight: 400;
    margin: 40px 0 20px;
}
h1 {
    font-size: $h1-font-size;

    @include respond-to(palm) {
        font-size: $h2-font-size;
    }
}
h2 {
    font-size: $h2-font-size;

    @include respond-to(palm) {
        font-size: $h3-font-size;
    }
}
h3 {
    font-size: $h3-font-size;

    @include respond-to(palm) {
        font-size: $base-font-family;
    }
}

%button {
    background-color: $red;
    border: none;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 4px #888;
    box-shadow: 0 1px 4px #888;
    color: white;
    cursor: default;
    display: inline-block;
    font-family: $base-font-family;
    font-size: 18px;
    font-weight: 300;
    height: 37px;
    line-height: 37px;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        background-color: darken($red, 10%);
    }
}

.btn {
    @extend %button;
}
