.form {
    margin: 40px auto;
    max-width: 400px;
    text-align: left;
}

.form--rsvp {
    max-width: none;
}

.form__row {
    margin: 20px 0;
}

.form__errors {
    color: $red;
    list-style: none;
    margin: 5px 0 0 25%;
    padding: 0;
}

.form__label {
    display: inline-block;
    vertical-align: top;
    width: 30%;

    @include respond-to(palm) {
        width: 100%;
    }
}

.form__field {
    display: inline-block;
    padding-left: 20px;
    vertical-align: top;
    width: 70%;

    // Radio set
    > ul {
        list-style: none;
        margin: 0;
        padding: 0;

        > li {
            margin: 0;
        }
    }

    @include respond-to(palm) {
        width: 100%;
    }
}

textarea,
input[type="text"] {
    border: 1px solid #ddd;
    display: block;
    font-size: 14px;
    padding: 10px 10px;
    width: 100%;
}

textarea {
    resize: none;
}

.form__submit {
    @extend %button;
}