/**
 *
 * Header
 *
 */
.main-header {
    @include background-image-retina('../img/base/header-flowers', 'png', 800px, 368px);
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-bottom: 40px;
    padding-top: 280px;
    position: relative;
    text-align: center;

    @include respond-to(lap) {
        background: none;
        margin-bottom: 20px;
        padding: 0;
    }
}

.main-header__image {
    display: none;

    @include respond-to(lap) {
        display: block;
        margin: 0
    }
}

.main-header__title {
    font-family: 'Tangerine', cursive;
    display: block;
    font-size: 78px;
    margin-bottom: 0;
    margin-top: 10px;

    @include respond-to(palm) {
        font-size: 56px;
    }
}

.main-header__subtitle {
    color: $indigo;
    display: block;
    font-size: 42px;
    font-weight: 400;

    @include respond-to(palm) {
        font-size: 36px;
    }
}

.language-selector {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 10px 0;
    list-style: none;

    li {
        display: inline-block;
        margin-left: 10px;
        margin-bottom: 0;
    }

    @include respond-to(lap) {
        position: static;
        text-align: right;
    }
}

.language-selector__lang {
    a {
        color: $dark-grey;
    }

    &:hover,
    &--active {
        a {
            color: $red;
            text-decoration: none;
        }
    }
}

/**
 *
 * Navigation
 *
 */
.main-nav {
    margin-bottom: 40px;
    text-align: center;

    @include respond-to(palm) {
        margin-bottom: 20px;
    }
}

.main-nav__item-list {
    border-bottom: 1px solid #696969;
    list-style: none;
    margin: 0;
    padding: 0 0 10px;
}

.main-nav__item {
    display: inline-block;
    font-size: $h3-font-size;
    margin: 0 15px;

    @include respond-to(lap) {
        margin: 5px 15px;
    }
    @include respond-to(palm) {
        font-size: $base-font-size;
        margin: 5px 10px;
    }

    a {
        color: $dark-grey;
        text-decoration: none;

        &:hover {
            color: $red;
        }
    }
    &--is-active a {
        color: $red;
    }
}

/**
 *
 * Content
 *
 */
.main-content {
    margin-bottom: 40px;

    @include respond-to(palm) {
        margin-bottom: 20px;
    }
}

/**
 *
 * Footer
 *
 */
.main-footer {
    margin: 40px 0 0;
    text-align: center;

    img {
        display: block;
    }

    @include respond-to(lap) {
        margin: 40px -20px 0;
    }
}

/**
 *
 * Home page
 *
 */
%home-content {
    font-size: $h2-font-size;

    @include respond-to(palm) {
        font-size: $h3-font-size;
    }
}
.home-content--dark {
    @extend %home-content;
    color: $dark-grey;
}
.home-content--light {
    @extend %home-content;
    color: $grey;
}

.home-faces {
    margin: 0 auto;
    position: relative;
    width: 620px;

    @include respond-to(lap) {
        width: 420px;
    }

    @include respond-to(palm) {
        width: auto;
    }
}
%home-faces__face {
    background-position: top;
    display: inline-block;
    height: 300px;
    width: 300px;

    @include respond-to(lap) {
        background-size: 200px 400px !important;
        height: 200px;
        width: 200px;
    }

    @include respond-to(palm) {
        display: block;
        margin: 0 auto 10px !important;
    }
}
.home-faces__magda {
    @extend %home-faces__face;
    @include background-image-retina('../img/home-faces-magda', 'jpg', 300px, 600px);
    margin-right: 10px;

    &:hover + .home-faces__javi {
        background-position: bottom;

        @include respond-to(palm) {
            background-position: top;
        }
    }
}
.home-faces__javi {
    @extend %home-faces__face;
    @include background-image-retina('../img/home-faces-javi', 'jpg', 300px, 600px);
    margin-left: 10px;
}
.home-faces__javi-mask {
    height: 300px;
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;

    @include respond-to(lap) {
        height: 200px;
        width: 200px;
    }

    &:hover + .home-faces__magda {
        background-position: bottom;

        @include respond-to(palm) {
            background-position: top;
        }
    }
}

/**
 *
 * Other content
 *
 */
.text-center {
    text-align: center;
}

.picture-description {
    @extend .text-center;
    color: #888;
    display: block;
    font-style: italic;
    margin-bottom: 20px;
}

.row {
    display: block;
    margin: 20px 0;
    margin-left: -$gutter;

    @include respond-to(palm) {
        margin-left: 0;
    }
}

.one-half {
    display: inline-block;
    padding-left: $gutter;
    vertical-align: top;
    width: 50%;

    @include respond-to(palm) {
        display: block;
        margin: 0 0 20px;
        padding: 0;
        width: 100%;

        img {
            width: 100%;
        }
    }
}
