$site-width: 800px;

$text-color: #333;
$red: #CF043E;
$dark-grey: #696969;
$grey: #A9A9A9;
$indigo: #3A3AC7;

$base-font-family: 'PT Sans Narrow', sans-serif;

$gutter: 20px;

$base-font-size: 22px;
$base-font-size-sm: 18px;
$h1-font-size: 48px;
$h2-font-size: 32px;
$h3-font-size: 26px;

$break-palm: 520px;
$break-lap: 800px;

@mixin respond-to($media) {
    @if $media == palm {
        @media only screen and (max-width: $break-palm) { @content; }
    }
    @else if $media == lap {
        @media only screen and (max-width: $break-lap) { @content; }
    }
}

@mixin background-image-retina($file, $type, $width, $height) {
    background-image: url($file + '.' + $type);

    @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
        & {
            background-image: url($file + '@2x.' + $type);
            -webkit-background-size: $width $height;
        }
    }
}
