.navbar-inverse {
    border-radius: 0;
}

form {
    margin: 10px 0;
}

.email-preview {
    height: 300px;
    max-width: 80%;
    width: 600px;
}

.table-wrp {
    overflow-x: auto;
}

%colour-label {
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 4px;
    padding: 2px 8px;

    &:after {
        content: ", ";
    }
    &:last-child:after {
        content: "";
    }
}

.invitation-sent--no {
    @extend %colour-label;
    background-color: #FFDB00;
}

.invitation-sent--yes {
    @extend %colour-label;
    background-color: #54B8FF;
}

.has-plusone--yes,
.has-flight--yes {
    @extend %colour-label;
    background-color: #8BC34A;
}

.has-plusone--no,
.has-flight--no {
    @extend %colour-label;
    background-color: #B0BEC5;
}

.invitation-status--no_rsvp {
    @extend %colour-label;
    background-color: #B0BEC5;
}

.invitation-status--confirmed {
    @extend %colour-label;
    background-color: #8BC34A;
}

.invitation-status--declined {
    @extend %colour-label;
    background-color: #BCAAA4;
}

.invitation-status--rejected {
    @extend %colour-label;
    background-color: #E57373;
}

.form-control--hidden {
    display: none;
}

.form-control--editor {
    height: 300px;
}

.editor-preview {
    border-radius: 2px;
    box-shadow: 0 2px 8px #888;
    height: 300px;
}

.btn-group,
.btn-group-vertical {
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}

.margin-row {
    margin-bottom: 20px;
    margin-top: 20px;
}
