{% extends 'cms/base.html' %}
{% load static form_tags %}

{% block page_title %}
    Email credentials
{% endblock page_title %}

{% block content %}

    <h1>Edit email credentials</h1>

    <form action="" method="post">
        {% csrf_token %}

        {% for field in form %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            <label for="{{ field.id_for_label }}">{{ field.label }} {% if field.field.required %}*{% endif %} </label>
            {{ field|add_css_class:'form-control' }}
            {% if field.errors %}
            <ul class="errors">
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endfor %}

        <a href="{% url 'cms:email_credentials' %}" class="btn btn-default">Cancel</a>
        <input type="submit" value="Save" class="btn btn-primary">
    </form>

{% endblock content %}