{% extends 'cms/base.html' %}
{% load static form_tags %}

{% block page_title %}
    Email credentials
{% endblock page_title %}

{% block content %}

    <h1>Edit email</h1>

    <form action="" method="post">
        {% csrf_token %}

        {% for field in form %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            <label for="{{ field.id_for_label }}">{{ field.label }} {% if field.field.required %}*{% endif %} </label>

            {% if field.field.is_html %}
            <div class="row html-field" data-index="{{ forloop.counter }}">
                {{ field|add_css_class:'form-control--hidden' }}
                <div class="col-md-6">
                    <div id="html-{{ forloop.counter }}" class="form-control--editor"></div>
                </div>
                <div class="col-md-6">
                    <iframe id="html-preview-{{ forloop.counter }}" class="editor-preview" width="100%" height="200" frameborder="0"></iframe>
                </div>
            </div>
            {% else %}
            {{ field|add_css_class:'form-control' }}
            {% endif %}

            {% if field.errors %}
            <ul class="errors">
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endfor %}

        <a href="{% url 'cms:emails' %}" class="btn btn-default">Cancel</a>
        <input type="submit" value="Save" class="btn btn-primary">
    </form>

{% endblock content %}

{% if debug %}
    {% block extra_js %}
        <script src="{% static 'libs/ace-builds/src-min-noconflict/ace.js' %}"></script>
        <script src="{% static 'js/editor.js' %}"></script>
    {% endblock extra_js %}
{% endif %}
