{% extends 'cms/base.html' %}
{% load static %}

{% block page_title %}
    Songs
{% endblock page_title %}

{% block content %}

    <h1>Submitted songs</h1>

    <p class="text-right">
        <a class="btn btn-default" href="{% url 'cms:download_songs' 'plain' %}">Download as Text file</a>
        <a class="btn btn-default" href="{% url 'cms:download_songs' 'csv' %}">Download as CSV</a>
    </p>

    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>#</th>
                <th>Song title
                    <a href="{% url 'cms:songs' %}?order_by=name"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
                    <a href="{% url 'cms:songs' %}?order_by=-name"><i class="glyphicon glyphicon-triangle-top"></i></a>
                </th>
                <th>Artist name
                    <a href="{% url 'cms:songs' %}?order_by=artist"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
                    <a href="{% url 'cms:songs' %}?order_by=-artist"><i class="glyphicon glyphicon-triangle-top"></i></a>
                </th>
                <th>Submitted by
                    <a href="{% url 'cms:songs' %}?order_by=submitted_by"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
                    <a href="{% url 'cms:songs' %}?order_by=-submitted_by"><i class="glyphicon glyphicon-triangle-top"></i></a>
                </th>
                <th>Added
                    <a href="{% url 'cms:songs' %}?order_by=added"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
                    <a href="{% url 'cms:songs' %}?order_by=-added"><i class="glyphicon glyphicon-triangle-top"></i></a>
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for song in song_list %}
            <tr {% if song.is_approved %}class="success"{% endif %}>
                <td>{{ forloop.counter }}</td>
                <td>{{ song.name }}</td>
                <td>{{ song.artist }}</td>
                <td>{{ song.submitted_by }}</td>
                <td>{{ song.added }}</td>
                <td>
                    <form action="{% url 'cms:approve_song' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="song_id" value="{{ song.id }}">
                        {% if song.is_approved %}
                            <input type="hidden" name="is_approved" value="False">
                            <input type="submit" value="Reject song" class="btn btn-default btn-sm">
                        {% else %}
                            <input type="hidden" name="is_approved" value="True">
                            <input type="submit" value="Approve song" class="btn btn-default btn-sm">
                        {% endif %}
                    </form>
                    <p>
                        <a href="{% url 'cms:delete_song' song.id %}" class="btn btn-danger btn-sm">Delete</a>
                        <a href="{% url 'cms:update_song' song.id %}" class="btn btn-default btn-sm">Update</a>
                    </p>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td>0</td>
                <td>No songs yet</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
{% endblock content %}