* {
    box-sizing: border-box;
}

html {
    padding: 0 20px;
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    margin: 0 auto;
    max-width: 100%;
    width: $site-width;

    @include respond-to('palm') {
        font-size: $base-font-size-sm;
    }
}

img {
    max-width: 100%;
}

p {
    margin: 20px 0;
}

div[role="main"] {
    margin: 20px 0 0;
}

h1,
h2,
h3 {
    font-weight: 400;
    margin: 0 0 20px;

    @include respond-to('lap') {
        margin: 0;
    }
}
h1 {
    font-size: $h1-font-size;
}
h2 {
    font-size: $h2-font-size;
}
h3 {
    font-size: $h3-font-size;
}

%button {
    background-color: $red;
    border: none;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 4px #888;
    box-shadow: 0 1px 4px #888;
    color: white;
    font-family: $base-font-family;
    font-size: 18px;
    font-weight: 300;
    padding: 8px 20px;
    text-transform: uppercase;

    &:hover {
        background-color: darken($red, 10%);
    }
}