body.modal--open {
    overflow: hidden;
}

.modal {
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;

    img {
        margin: 0 auto;
        max-height: 90%;
        max-width: 90%;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
}
.modal__close {
    background: #000;
    color: #fff;
    font-size: 80px;
    height: 100px;
    line-height: 100px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100px;
    z-index: 2;

    &:after {
        content: "x";
    }
}
