.navbar-inverse {
    border-radius: 0;
}

form {
    margin: 10px 0;
}

.email-preview {
    height: 300px;
    max-width: 80%;
    width: 600px;
}

%invitation-sent {
    border-radius: 4px;
    display: inline-block;
    padding: 2px 8px;
}

.invitation-sent--no {
    @extend %invitation-sent;
    background-color: #FFDB00;
}

.invitation-sent--yes {
    @extend %invitation-sent;
    background-color: #54B8FF;
}

.form-control--hidden {
    display: none;
}

.form-control--editor {
    height: 400px;
}
