{% load static i18n %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Magda & Javi - {% block page_title %}{% endblock page_title %}</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/wedding.css' %}"/>

    {# picturefill lib with async attribute #}
    <script src="{% static 'libs/picturefill/dist/picturefill.min.js' %}" async></script>
</head>
<body>
    <div role="main">
        <header class="main-header">
            <ul class="language-selector">
                <li class="language-selector__lang {% ifequal request.LANGUAGE_CODE 'en' %}language-selector__lang--active{% endifequal %}">
                    <a href="{% url 'public:change_language' 'en' %}">English</a>
                </li>
                <li class="language-selector__lang {% ifequal request.LANGUAGE_CODE 'es' %}language-selector__lang--active{% endifequal %}">
                    <a href="{% url 'public:change_language' 'es' %}">Español</a>
                </li>
                <li class="language-selector__lang {% ifequal request.LANGUAGE_CODE 'pl' %}language-selector__lang--active{% endifequal %}">
                    <a href="{% url 'public:change_language' 'pl' %}">Polski</a>
                </li>
            </ul>
            {% include 'public/partials/picture.html' with src1='img/header-flowers-lap.jpg' src2='img/header-flowers-lap@2x.jpg' src1sm='img/header-flowers-palm.jpg' src2sm='img/header-flowers-palm@2x.jpg' alt='Some flowers' title='Some flowers' class='maia-header__image' %}
            <span class="main-header__title">Magda & Javi</span>
            <span class="main-header__subtitle">25.06.2016</span>
        </header>
        <nav class="main-nav">
            <ul class="main-nav__item-list">
                <li class="main-nav__item {% ifequal page_name 'home' %}main-nav__item--is-active{% endifequal %}">
                    <a href="{% url 'public:home' %}">{% trans "Home" %}</a>
                </li>
                <li class="main-nav__item {% ifequal page_name 'details' %}main-nav__item--is-active{% endifequal %}">
                    <a href="{% url 'public:details' %}">{% trans "Wedding Details" %}</a>
                </li>
                <li class="main-nav__item {% ifequal page_name 'song_wishlist' %}main-nav__item--is-active{% endifequal %}">
                    <a href="{% url 'public:song_wishlist' %}">{% trans "Song wish list" %}</a>
                </li>
                <li class="main-nav__item {% ifequal page_name 'rsvp' %}main-nav__item--is-active{% endifequal %}">
                    <a href="{% url 'public:rsvp' %}">{% trans "Confirm attendance" %}</a>
                </li>
                <li class="main-nav__item {% ifequal page_name 'contact' %}main-nav__item--is-active{% endifequal %}">
                    <a href="{% url 'public:contact' %}">{% trans "Contact" %}</a>
                </li>
            </ul>
        </nav>
        <div class="main-content">
            {% block content %}{% endblock content %}
        </div>
        <footer class="main-footer">
            {% include 'public/partials/picture.html' with src1='img/footer-pattern.jpg' src2='img/footer-pattern@2x.jpg' src1sm='img/footer-pattern-palm.jpg' src2sm='img/footer-pattern-palm@2x.jpg' alt='Some flowers' title='Some flowers' %}
        </footer>
    </div>

    <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'js/wedding.js' %}"></script>
</body>
</html>