{% extends 'public/base.html' %}
{% load static %}

{% block page_title %}
    Wedding details
{% endblock page_title %}

{% block content %}

    <h1 class="text-center">Polish weddings, what to expect</h1>

    <h2>What should I eat?</h2>
    <p>Everything, as much as possible.</p>

    <h2>What should I drink?</h2>
    <p>Anything, but it's encouraged not to mix.</p>

    <h1 class="text-center">How to get here?</h1>

    <h2>A general map (click for zoom)</h2>
    <p>
        <a href="#"
           class="js-open-modal"
           data-img="{% static 'img/map1@2x.jpg' %}"
        >
            {% include 'public/partials/picture.html' with src1='img/map1.jpg' src2='img/map1@2x.jpg' src1sm='img/map1.jpg' src2sm='img/map1@2x.jpg' alt='Europe map' title='Europe map' %}
        </a>
    </p>

    <h2>A more specific map (click for zoom)</h2>
    <p>
        <a href="#"
           class="js-open-modal"
           data-img="{% static 'img/map2@2x.jpg' %}"
        >
            {% include 'public/partials/picture.html' with src1='img/map2.jpg' src2='img/map2@2x.jpg' src1sm='img/map2.jpg' src2sm='img/map2@2x.jpg' alt='Region map' title='Region map' %}
        </a>
    </p>

{% endblock content %}