{% extends 'public/base.html' %}
{% load static i18n %}

{% block page_title %}{% trans "Trip preparation" %}{% endblock page_title %}

{% block content %}

    <section>
        <h1 class="text-center">{% trans "Where is this happening?" %}</h1>
        <p>
            {% blocktrans %}The ceremony will take place in a town called Przeworsk (pronunced `Pseworsk`). It's around 50km away from Rzeszów, the main city in the region of Podkarpacie.{% endblocktrans %}
        </p>

        <h2>{% trans "A general map (click for zoom)" %}</h2>
        <p>
            {% blocktrans %}Here you can see the region of Podkarpacie in red, bordering with Ukraine in the East and Slovakia in the South.{% endblocktrans %}
        </p>
        <p>
            <a href="#" class="js-open-modal" data-img="{% static 'img/maps/map1@2x.jpg' %}">
                {% include 'public/partials/picture.html' with src1='img/maps/map1.jpg' src2='img/maps/map1@2x.jpg' src1sm='img/maps/map1.jpg' src2sm='img/maps/map1@2x.jpg' alt='Europe map' title='Europe map' %}
            </a>
        </p>

        <h2>{% trans "Zooming in Rzeszów" %}</h2>
        <p>
            <a href="#" class="js-open-modal" data-img="{% static 'img/maps/map2@2x.jpg' %}">
                {% include 'public/partials/picture.html' with src1='img/maps/map2.jpg' src2='img/maps/map2@2x.jpg' src1sm='img/maps/map2.jpg' src2sm='img/maps/map2@2x.jpg' alt='Region map' title='Region map' %}
            </a>
        </p>
    </section>

    <section>
        <h1 class="text-center">{% trans "When is this happening?" %}</h1>
        <h2>{% trans "Saturday, 25th June 2016" %}</h2>
        <p>
            {% blocktrans %}You should definitely try to be in Rzeszów or Przeworsk by Friday 24th June, although it's probably a good idea if you can be there by Thursday. I've heard some people are thinking on visiting Krakow for a few days before the wedding, so feel free to do the same.{% endblocktrans %}
        </p>
    </section>

    <section>
        <h1 class="text-center">{% trans "How to get to Przeworsk?" %}</h1>

        <h2>{% trans "From Krakow" %}</h2>

        <p>
            {% blocktrans %}We're arranging a bus between Krakow and Przeworsk on Friday 24th - time to be confirmed, but probably around midday. Please, let me know if you're interested in taking this bus.{% endblocktrans %}
        </p>

        <h2>{% trans "From Rzeszów" %}</h2>

        <p>
            {% blocktrans %}We'll probably arrange a small bus and other sort of transports to get people between Rzeszów and Przeworsk.{% endblocktrans %}
        </p>
    </section>

    <section>
        <h1 id="hotels" class="text-center">{% trans "Where am I sleeping?" %}</h1>
        <p>
            {% blocktrans %}We've booked two entire hotels in Przeworsk for Friday, Saturday and Sunday nights.{% endblocktrans %}
        </p>
        <ul>
            <li>
                <strong>Hotel Restauracja Terapia –
                    <a target="_blank" href="https://www.google.co.uk/maps/place/Hotel+Restauracja+Terapia/@50.0567214,22.4943993,17z/data=!4m6!1m3!3m2!1s0x473c9155d3797773:0xc0b735777d5be8c5!2sHotel+Restauracja+Terapia!3m1!1s0x473c9155d3797773:0xc0b735777d5be8c5">Map</a>,
                    <a target="_blank" href="https://www.facebook.com/restauracja.terapia">Facebook page</a>
                </strong>
                <p>
                    {% blocktrans %}This hotel is right in the centre of Przeworsk. This hotel can only host 20 people, so we've decided to leave it for Javi's family.{% endblocktrans %}
                </p>
            </li>
            <li>
                <strong>U Teresy –
                    <a target="_blank" href="https://www.google.co.uk/maps/place/U+Teresy/@50.0608511,22.4772817,15.33z/data=!4m2!3m1!1s0x473c9157d01bc275:0x28c02129a873844c">Map</a>,
                    <a target="_blank" href="http://www.uteresy.pl">Website</a>
                </strong>
                {% blocktrans %}This one is ten walking minutes away from the other one. It can host up to 34 people and this is where most of the youngsters will stay. The breakfast is included.{% endblocktrans %}
            </li>
        </ul>

        <p>
            {% blocktrans %}Both places have been booked already, but you'll just need to pay in the checkout - expect £10 per person, per night (around 50 złoty) in Teresy and £12 per person per night (around 60 złoty) in Terapia. See a small map below with both hotels marked. The marker on the right is the church where the ceremony will take place and the blue dot is Magda's parents' house – I'm there right now.{% endblocktrans %}
        </p>

        <a href="#" class="js-open-modal" data-img="{% static 'img/maps/przeworsk-map@2x.jpg' %}">
            {% include 'public/partials/picture.html' with src1='img/maps/przeworsk-map.jpg' src2='img/maps/przeworsk-map@2x.jpg' src1sm='img/maps/przeworsk-map.jpg' src2sm='img/maps/przeworsk-map@2x.jpg' alt='Przeworsk map' title='Przeworsk map' %}
        </a>
    </section>

{% endblock content %}
