{% extends 'public/base.html' %}
{% load static i18n %}

{% block page_title %}{% trans "Save the Date" %}{% endblock page_title %}

{% block content %}
    <div class="text-center">

        <div class="home-faces">
            <div class="home-faces__javi-mask"></div>
            <div class="home-faces__magda"></div><!--
            --><div class="home-faces__javi"></div>
        </div>

        <p class="home-content--dark">{% trans "In" %} <strong>{{ days_until_wedding }}</strong> {% trans "days we're getting married!" %}</p>
        <p class="home-content--light">{% trans "Come and celebrate with us the most important day of our lives." %}</p>
    </div>
{% endblock content %}
